*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 350px;
}
.option-slider {
  margin: auto;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
  width: 80%;
}

#complexity,
#highlightReplaced {
  position: relative;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
  width: 100%;
}

/*complexity toggle styling*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 29px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d7d7d7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #55d95d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/*------ ADDED CSS ---------*/
.slider:after {
  content: "";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
  content: "";
}

/*--------- END --------*/

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* border: 1px solid #000000;*/
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #dcdcdc;
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  Add cool effects to your sliders! */
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #c0c0c0;
  border-radius: 1.3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #c0c0c0;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #c0c0c0;
  border-radius: 1.3px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #c0c0c0;
  border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #c0c0c0;
}
input[type="range"]::-ms-fill-upper {
  background: #c0c0c0;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #c0c0c0;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  /*padding: 0 9px;*/
  padding-left: 10px;
  padding-right: 6px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #d3d3d3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
  white-space: nowrap;
}

.sliderticks p.selected {
  font-weight: bold;
}

.disabled {
  opacity: 0.3;
}
