.highlight-sentence,
.highlight-word,
.highlight-paragraph,
.highlight-document {
  background-color: #bdc3c7;
}

.highlight-simplified-sentence,
.highlight-simplified-word,
.highlight-simplified-paragraph,
.highlight-simplified-document {
  background-color: #fff9de;
}

.link {
  background: none;
  border: none;
}

/* .tooltip1 {
  position: relative;
  top: -0.25rem;
  left: 0.25rem;
  transform: translate(-100%, -100%);
  display: inline-block;
  background: #fff9de;
  border-radius: 6px;
  padding: 6px;
  font-family: arial;
  font-size: 12px;
  color: #000000;
  box-shadow: inset 0 0 5px #fdea9a;
} */

.tooltip1 {
  position: relative;
}

.tooltip1:after {
  content: attr(data-text);
  border-radius: 8px;
  position: absolute;
  font-family: arial;
  background: #fff9de;
  color: #000000;

  top: 50%;
  transform: translate(-80%, -150%);

  left: 100%;
  font-size: 12px;
  width: max-content;
  /* max-width: 100%; */
  padding: 6px 12px 6px 12px;
  box-shadow: inset 0 0 5px #fce68d;
}

.tooltip1:hover:before {
  display: block;
}

.clickable-pointer {
  cursor: pointer;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  padding: 0;
}

button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}
